.header {
	&__container {
		display: flex;
		justify-content: space-between;
		padding: 30px;
		padding-top: 20px;
		padding-bottom: 18px;
		&-inner {
			display: flex;
			align-items: center;
		}
		&-buttons {
			display: flex;
			align-items: center;
		}
	}
	&__logo {
		width: 104px;
		height: 24px;
		z-index: 1000;
	}
	&__btn {
		margin-right: 10px;
	}
	&__burger {
		display: none;
	}
}

@media (max-width: 536px) {
	.header {
		&__container {
			&-buttons {
				.btn__primary {
					display: none;
				}
			}
		}
		&__burger {
			display: inline-block;
		}
	}
}
