.nav {
	margin-left: 100px;
	&__list {
		display: flex;
	}
	&__item {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
	&__link {
		font-size: 18px;
		line-height: 110%;
		color: var(--black-color);
	}
}
