<section class="billing">
	<div class="container billing__container">
		<ul class="billing__list list-reset">
			<li class="billing__item billing__item-pink">
				<h4 class="billing__title">Тариф «Первый»</h4>
				<p class="billing__details">
					Полный пакет опций для максимального результата
				</p>
				<p class="billing__price">2 499 ₽</p>
				<p class="billing__timetable">в месяц при оплате за год</p>
				<ul class="billing__users list-reset">
					<li class="billing__user billing__user-first">
						<img
							loading="lazy"
							src="./img/user.svg"
							class="image billing__icon"
							width="16"
							height="16"
							alt="Иконка пользователя"
						/>
						<span class="billing__text">10+ пользователей</span>
					</li>
					<li class="billing__user">
						<img
							loading="lazy"
							src="./img/company.svg"
							class="image billing__icon"
							width="16"
							height="16"
							alt="Иконка пользователя"
						/>
						<span class="billing__text">5+ юридических лиц</span>
					</li>
				</ul>
				<ul class="billing__options list-reset">
					<li class="billing__option billing__option-true">
						Неограниченные счета
					</li>
					<li class="billing__option billing__option-true">
						Учет по проектам
					</li>
					<li class="billing__option billing__option-true">
						Отчет о движении денег
					</li>
					<li class="billing__option billing__option-true">
						Отчет о прибылях и убытках
					</li>
					<li class="billing__option billing__option-true">
						Настройка прав доступа
					</li>
					<li class="billing__option billing__option-true">
						Бюджеты и план-факт анализ
					</li>
					<li class="billing__option billing__option-true">
						Согласование платежей
					</li>
					<li class="billing__option billing__option-true">
						Кредиты
					</li>
					<li class="billing__option billing__option-true">
						Основные средства
					</li>
					<li class="billing__option billing__option-true">
						Расширенная аналитика
					</li>
					<li class="billing__option billing__option-true">
						Прикрепление файлов
					</li>
					<li class="billing__option billing__option-true">
						Приоритетная поддержка
					</li>
				</ul>
				<button
					class="btn-reset btn__primary btn__primary-pink billing__btn"
				>
					Протестировать
				</button>
			</li>
			<li class="billing__item billing__item-green">
				<h4 class="billing__title">Тариф «Бизнес»</h4>
				<p class="billing__details">
					Инструмент для улучшения экономики бизнеса
				</p>
				<p class="billing__price">2 082 ₽</p>
				<p class="billing__timetable">в месяц при оплате за год</p>
				<ul class="billing__users list-reset">
					<li class="billing__user billing__user-first">
						<img
							loading="lazy"
							src="./img/user.svg"
							class="image billing__icon"
							width="16"
							height="16"
							alt="Иконка пользователя"
						/>
						<span class="billing__text">3+ пользователей</span>
					</li>
					<li class="billing__user">
						<img
							loading="lazy"
							src="./img/company.svg"
							class="image billing__icon"
							width="16"
							height="16"
							alt="Иконка пользователя"
						/>
						<span class="billing__text">3+ юридических лиц</span>
					</li>
				</ul>
				<ul class="billing__options list-reset">
					<li class="billing__option billing__option-true">
						Неограниченные счета
					</li>
					<li class="billing__option billing__option-true">
						Учет по проектам
					</li>
					<li class="billing__option billing__option-true">
						Отчет о движении денег
					</li>
					<li class="billing__option billing__option-true">
						Отчет о прибылях и убытках
					</li>
					<li class="billing__option billing__option-true">
						Настройка прав доступа
					</li>
					<li class="billing__option billing__option-true">
						Бюджеты и план-факт анализ
					</li>
					<li class="billing__option billing__option-true">
						Согласование платежей
					</li>
					<li class="billing__option billing__option-false">
						Кредиты
					</li>
					<li class="billing__option billing__option-false">
						Основные средства
					</li>
					<li class="billing__option billing__option-false">
						Расширенная аналитика
					</li>
					<li class="billing__option billing__option-false">
						Прикрепление файлов
					</li>
					<li class="billing__option billing__option-false">
						Приоритетная поддержка
					</li>
				</ul>
				<button
					class="btn-reset btn__primary btn__primary-green billing__btn"
				>
					Протестировать
				</button>
			</li>
			<li class="billing__item billing__item-blue">
				<h4 class="billing__title">Тариф «Комфорт»</h4>
				<p class="billing__details">
					Подходит для стартапов и микробизнеса
				</p>
				<p class="billing__price">1 749 ₽</p>
				<p class="billing__timetable">в месяц при оплате за год</p>
				<ul class="billing__users list-reset">
					<li class="billing__user billing__user-first">
						<img
							loading="lazy"
							src="./img/user.svg"
							class="image billing__icon"
							width="16"
							height="16"
							alt="Иконка пользователя"
						/>
						<span class="billing__text">3 пользователя</span>
					</li>
					<li class="billing__user">
						<img
							loading="lazy"
							src="./img/company.svg"
							class="image billing__icon"
							width="16"
							height="16"
							alt="Иконка пользователя"
						/>
						<span class="billing__text">2 юридических лица</span>
					</li>
				</ul>
				<ul class="billing__options list-reset">
					<li class="billing__option billing__option-true">
						Неограниченные счета
					</li>
					<li class="billing__option billing__option-true">
						Учет по проектам
					</li>
					<li class="billing__option billing__option-true">
						Отчет о движении денег
					</li>
					<li class="billing__option billing__option-true">
						Отчет о прибылях и убытках
					</li>
					<li class="billing__option billing__option-false">
						Настройка прав доступа
					</li>
					<li class="billing__option billing__option-false">
						Бюджеты и план-факт анализ
					</li>
					<li class="billing__option billing__option-false">
						Согласование платежей
					</li>
					<li class="billing__option billing__option-false">
						Кредиты
					</li>
					<li class="billing__option billing__option-false">
						Основные средства
					</li>
					<li class="billing__option billing__option-false">
						Расширенная аналитика
					</li>
					<li class="billing__option billing__option-false">
						Прикрепление файлов
					</li>
					<li class="billing__option billing__option-false">
						Приоритетная поддержка
					</li>
				</ul>
				<button
					class="btn-reset btn__primary btn__primary-blue billing__btn"
				>
					Протестировать
				</button>
			</li>
			<li class="billing__item billing__item-grey">
				<h4 class="billing__title">Тариф «Эконом»</h4>
				<p class="billing__details">
					Подходит для фрилансеров и самозанятых
				</p>
				<p class="billing__price">833 ₽</p>
				<p class="billing__timetable">в месяц при оплате за год</p>
				<ul class="billing__users list-reset">
					<li class="billing__user billing__user-first">
						<img
							loading="lazy"
							src="./img/user.svg"
							class="image billing__icon"
							width="16"
							height="16"
							alt="Иконка пользователя"
						/>
						<span class="billing__text">1 пользователь</span>
					</li>
					<li class="billing__user">
						<img
							loading="lazy"
							src="./img/company.svg"
							class="image billing__icon"
							width="16"
							height="16"
							alt="Иконка пользователя"
						/>
						<span class="billing__text">1 юридическое лицо</span>
					</li>
				</ul>
				<ul class="billing__options list-reset">
					<li class="billing__option billing__option-true">
						Неограниченные счета
					</li>
					<li class="billing__option billing__option-true">
						Учет по проектам
					</li>
					<li class="billing__option billing__option-true">
						Отчет о движении денег
					</li>
					<li class="billing__option billing__option-false">
						Отчет о прибылях и убытках
					</li>
					<li class="billing__option billing__option-false">
						Настройка прав доступа
					</li>
					<li class="billing__option billing__option-false">
						Бюджеты и план-факт анализ
					</li>
					<li class="billing__option billing__option-false">
						Согласование платежей
					</li>
					<li class="billing__option billing__option-false">
						Кредиты
					</li>
					<li class="billing__option billing__option-false">
						Основные средства
					</li>
					<li class="billing__option billing__option-false">
						Расширенная аналитика
					</li>
					<li class="billing__option billing__option-false">
						Прикрепление файлов
					</li>
					<li class="billing__option billing__option-false">
						Приоритетная поддержка
					</li>
				</ul>
				<button
					class="btn-reset btn__primary btn__primary billing__btn"
				>
					Протестировать
				</button>
			</li>
		</ul>
	</div>
</section>
