<section class="consulting">
	<div class="container consulting__container">
		<h2 class="title__primary consulting__title">
			Внедрим управленческий учет в вашей компании
		</h2>
		<ul class="consulting__advantages list-reset">
			<li class="consulting__item">
				<div class="consulting__marker">
					<div class="consulting__marker-bg"></div>
					<div class="consulting__marker-text">1</div>
				</div>
				Вы получите полностью работоспособную систему управленческого
				учета
			</li>
			<li class="consulting__item">
				<div class="consulting__marker">
					<div class="consulting__marker-bg"></div>
					<div class="consulting__marker-text">2</div>
				</div>
				Вам не придется тратить время на самостоятельное изучение
				тонкостей
			</li>
			<li class="consulting__item">
				<div class="consulting__marker">
					<div class="consulting__marker-bg"></div>
					<div class="consulting__marker-text">3</div>
				</div>
				Мы будем сопровождать вас в течение первых месяцев работы
			</li>
		</ul>
		<button
			class="btn-reset btn__primary btn__primary-darkblue consulting__btn"
		>
			Получить консультацию
		</button>
	</div>
</section>
