<section class="faq">
	<div class="container faq__container">
		<h2 class="title__secondary faq__title">Вопросы и ответы</h2>
		<ul class="faq__list list-reset">
			<li class="faq__accordion">
				<div class="faq__container-btn">
					<button
						class="btn-reset faq__btn btn__primary btn__primary-blue"
						aria-expanded="false"
					>
						Зачем нужен Adesk, если есть Excel?
					</button>
				</div>
				<div class="faq__content" aria-hidden="true">
					<ul class="faq__answers list-reset">
						<li class="faq__answer">
							Эксель — замечательный инструмент, но отнимает очень
							много времени и увеличивает шанс допустить ошибку
						</li>
						<li class="faq__answer">
							Особенно когда в нём работают несколько
							пользователей
						</li>
						<li class="faq__answer">
							Но самая главная проблема Экселя — это то, что в нем
							нет возможностей для автоматизации. Многие рутинные
							операции приходится делать вручную, что является
							очень дорогим удовольствием для предпринимателей.
						</li>
					</ul>
				</div>
			</li>
			<li class="faq__accordion">
				<div class="faq__container-btn">
					<button
						class="btn-reset faq__btn btn__primary btn__primary-blue"
						aria-expanded="false"
					>
						А если у нас есть бухгалтер?
					</button>
				</div>
				<div class="faq__content" aria-hidden="true">
					<ul class="faq__answers list-reset">
						<li class="faq__answer">
							О, бухгалтерский и управленческий учёт — совершенно
							разные вещи!
						</li>
						<li class="faq__answer">
							Основная задача бухгалтера — правильно и вовремя
							отчитываться перед государством
						</li>
						<li class="faq__answer">
							Управленческий учёт нужен в первую очередь для
							предпринимателя или собственника бизнеса для того,
							чтобы в реальном времени иметь ответ на вопрос «Как
							идут дела у компании?» и принимать правильные
							управленческие решения.
						</li>
						<li class="faq__answer">
							Или у вас в бизнесе управленческие решения принимает
							бухгалтер? 🙂
						</li>
					</ul>
				</div>
			</li>
			<li class="faq__accordion">
				<div class="faq__container-btn">
					<button
						class="btn-reset faq__btn btn__primary btn__primary-blue"
						aria-expanded="false"
					>
						А нашей компании подойдёт Adesk?
					</button>
				</div>
				<div class="faq__content" aria-hidden="true">
					<ul class="faq__answers list-reset">
						<li class="faq__answer">
							Наши клиенты — это малый бизнес из самых разных
							отраслей экономики с доходом от 500 тысяч до 15-20
							млн рублей в месяц. Как правило, у них несколько
							счетов и ООО/ИП. Примерно половина клиентов —
							проектные компании, которые работают над заказами
							своих клиентов.
						</li>
					</ul>
				</div>
			</li>
			<li class="faq__accordion">
				<div class="faq__container-btn">
					<button
						class="btn-reset faq__btn btn__primary btn__primary-blue"
						aria-expanded="false"
					>
						Можно ли использовать Adesk с телефона?
					</button>
				</div>
				<div class="faq__content" aria-hidden="true">
					<ul class="faq__answers list-reset">
						<li class="faq__answer">
							Да, у нас есть мобильное приложение для
							<a href="#" class="faq__link">iOS</a> и для
							<a href="#" class="faq__link">Android</a>. К тому же
							у нас очень удобная мобильная версия, а так же
							<a href="#" class="faq__link">бот для Telegram</a>,
							которому вы просто можете писать о своих расходах и
							он будет автоматически добавлять их в систему. Кроме
							этого, он будет напоминать вам о предстоящих
							платежах и давать сводку по состоянию дел.
						</li>
					</ul>
				</div>
			</li>
			<li class="faq__accordion">
				<div class="faq__container-btn">
					<button
						class="btn-reset faq__btn btn__primary btn__primary-blue"
						aria-expanded="false"
					>
						Могу ли я приглашать других пользователей в систему?
					</button>
				</div>
				<div class="faq__content" aria-hidden="true">
					<ul class="faq__answers list-reset">
						<li class="faq__answer">
							Конечно! Более того, разным сотрудникам вы можете
							раздать разные права доступа. Например, кто-то из
							сотрудников может иметь доступ на внесение данных
							только по определенному счету и при этом не иметь
							доступа ни к каким отчетам.
						</li>
					</ul>
				</div>
			</li>
			<li class="faq__accordion">
				<div class="faq__container-btn">
					<button
						class="btn-reset faq__btn btn__primary btn__primary-blue"
						aria-expanded="false"
					>
						Мне нужна помощь в освоении сервиса. Как быть?
					</button>
				</div>
				<div
					class="faq__content faq__content-prestatic"
					aria-hidden="true"
				>
					<ul class="faq__answers list-reset">
						<li class="faq__answer">
							У нас есть YouTube-канал, а так же сайт
							help.adesk.ru с простыми и понятными статьями, где
							вы, возможно, сможете найти ответы на свои вопросы.
						</li>
						<li class="faq__answer">
							Не стесняйтесь писать нам в чат, мы очень активно
							отвечаем и с удовольствием вам поможем.
						</li>
						<li class="faq__answer">
							Чтобы сэкономить ваше время, мы можем выделить вам
							помощника, который за несколько онлайн-созвонов
							обучит вас работе в сервисе. Услуга предоставляется
							за дополнительную плату.
						</li>
					</ul>
				</div>
			</li>
			<li class="faq__accordion">
				<div
					class="faq__content faq__content-static"
					aria-hidden="false"
				>
					<ul class="faq__answers list-reset">
						<li class="faq__answer">
							У нас есть YouTube-канал, а так же сайт
							help.adesk.ru с простыми и понятными статьями, где
							вы, возможно, сможете найти ответы на свои вопросы.
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</section>
