<footer class="footer">
	<div class="container footer__container">
		<img
			loading="lazy"
			src="./img/footer_logo.svg"
			class="image"
			width="220"
			height="51"
			alt="Логотип компании"
		/>
		<ul class="footer__ list list-reset">
			<li class="footer__item">
				<a href="#" class="footer__link">Adesk для бизнеса</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Digital-агенства</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Маркетинговые агенства</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Стартапы</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Кафе и рестораны</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Строительные компании</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Юридические фирмы</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Фрилансеры</a>
			</li>
		</ul>
		<ul class="footer__ list list-reset">
			<li class="footer__item">
				<a href="#" class="footer__link">Ресурсы</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Журнал о финансах</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link"
					><img
						loading="lazy"
						src="./img/footer_pencil_link.svg"
						class="image"
						width="135"
						height="19"
						alt="Ссылка с иконкой карандаша"
				/></a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Внедрение под ключ</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Партнерская программа</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Бонусы от партнеров</a>
			</li>
		</ul>
		<ul class="footer__ list list-reset">
			<li class="footer__item">
				<a href="#" class="footer__link">Информация</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Документация по API</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Отзывы пользователей</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Помощь</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Информация</a>
			</li>
			<hr class="footer__line" />
			<li class="footer__item footer__email">
				<a href="mailto:support@adesk.ru">support@adesk.ru</a>
			</li>
			<li class="footer__item footer__tel">
				<a href="tel:+74951062100" class="footer__link">
					+7 (495) 106-21-00
				</a>
			</li>
		</ul>
		<ul class="footer__payment">
			<li class="footer__method">
				<img
					loading="lazy"
					src="./img/visa.svg"
					class="image footer__icon-method"
					width="49"
					height="24"
					alt="Иконка Visa"
				/>
			</li>
			<li class="footer__method">
				<img
					loading="lazy"
					src="./img/mastercard.svg"
					class="image footer__icon-method"
					width="33"
					height="24"
					alt="Иконка Visa"
				/>
			</li>
			<li class="footer__method">
				<img
					loading="lazy"
					src="./img/tinkoff.svg"
					class="image footer__icon-method"
					width="104"
					height="24"
					alt="Иконка Visa"
				/>
			</li>
		</ul>
		<div class="footer__download">
			<button class="footer__btn btn-reset btn__primary">
				<img
					loading="lazy"
					src="./img/apple.svg"
					class="image footer__icon-market"
					width="20"
					height="20"
					alt="Иконка Aplle"
				/>
			</button>
			<button class="footer__btn btn-reset btn__primary">
				<img
					loading="lazy"
					src="./img/google_play.svg"
					class="image footer__icon-market"
					width="20"
					height="20"
					alt="Иконка Google Play"
				/>
			</button>
		</div>
		<hr class="footer__line" />
		<ul class="footer__documents list-reset">
			<li class="footer__doc">ООО "Адеск", 2022</li>
			<li class="footer__doc">
				<a href="#">Политика конфиденциальности</a>
			</li>
			<li class="footer__doc">
				<a href="#">Договор-оферта</a>
			</li>
		</ul>
		<ul class="footer__social list-reset">
			<!-- как назвать все ссылки на соц сети (класс хз) -->
		</ul>
	</div>
</footer>
