<footer class="footer">
	<div class="container footer__container">
		<div class="footer__logo">
			<img
				loading="lazy"
				src="./img/footer_logo.svg"
				class="image footer__image"
				width="220"
				height="51"
				alt="Логотип компании"
			/>
		</div>
		<ul class="footer__social list-reset footer__social-top">
			<li class="footer__icon-social">
				<a href="#" class="footer__link-social">
					<img
						loading="lazy"
						src="./img/footer-1.svg"
						class="image footer__icon-social"
						width="22"
						height="22"
						alt="Иконка telegramm"
					/>
				</a>
			</li>
			<li class="footer__icon-social">
				<a href="#" class="footer__link-social">
					<img
						loading="lazy"
						src="./img/footer-2.svg"
						class="image footer__icon-social"
						width="22"
						height="22"
						alt="Иконка facebook"
					/>
				</a>
			</li>
			<li class="footer__icon-social">
				<a href="#" class="footer__link-social">
					<img
						loading="lazy"
						src="./img/footer-3.svg"
						class="image footer__icon-social"
						width="22"
						height="22"
						alt="Иконка ВКонтакте"
					/>
				</a>
			</li>
			<li class="footer__icon-social">
				<a href="#" class="footer__link-social">
					<img
						loading="lazy"
						src="./img/footer-4.svg"
						class="image footer__icon-social"
						width="22"
						height="22"
						alt="Иконка Youtube"
					/>
				</a>
			</li>
			<li class="footer__icon-social">
				<a href="#" class="footer__link-social">
					<img
						loading="lazy"
						src="./img/footer-5.svg"
						class="image footer__icon-social"
						width="22"
						height="22"
						alt="Иконка Instagramm"
					/>
				</a>
			</li>
		</ul>
		<ul class="footer__list list-reset">
			<li class="footer__item">
				<a href="#" class="footer__link">Adesk для бизнеса</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Digital-агенства</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Маркетинговые агенства</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Стартапы</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Кафе и рестораны</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Строительные компании</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Юридические фирмы</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Фрилансеры</a>
			</li>
		</ul>
		<ul class="footer__list list-reset">
			<li class="footer__item">
				<a href="#" class="footer__link">Ресурсы</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Журнал о финансах</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link"
					><img
						loading="lazy"
						src="./img/footer_pencil_link.svg"
						class="image"
						width="135"
						height="19"
						alt="Ссылка с иконкой карандаша"
				/></a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Внедрение под ключ</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Партнерская программа</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Бонусы от партнеров</a>
			</li>
		</ul>
		<ul class="footer__list list-reset">
			<li class="footer__item">
				<a href="#" class="footer__link">Информация</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Документация по API</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Отзывы пользователей</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Помощь</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Информация</a>
			</li>
			<hr class="footer__line" />
			<li class="footer__item">
				<a href="mailto:support@adesk.ru" class="footer__email">
					support@adesk.ru
				</a>
			</li>
			<li class="footer__item">
				<a href="tel:+74951062100" class="footer__link footer__tel">
					+7 (495) 106-21-00
				</a>
			</li>
		</ul>
		<div class="footer__info footer__info-first">
			<ul class="footer__payment list-reset">
				<li class="footer__method">
					<img
						loading="lazy"
						src="./img/visa.svg"
						class="image footer__icon-method"
						width="49"
						height="24"
						alt="Иконка Visa"
					/>
				</li>
				<li class="footer__method">
					<img
						loading="lazy"
						src="./img/mastercard.svg"
						class="image footer__icon-method"
						width="33"
						height="24"
						alt="Иконка Visa"
					/>
				</li>
				<li class="footer__method">
					<img
						loading="lazy"
						src="./img/tinkoff.svg"
						class="image footer__icon-method"
						width="104"
						height="24"
						alt="Иконка Visa"
					/>
				</li>
			</ul>
			<div class="footer__download">
				<button class="footer__btn btn-reset">
					<img
						loading="lazy"
						src="./img/apple.svg"
						class="image footer__icon-market"
						width="20"
						height="20"
						alt="Иконка Aplle"
					/>
					Appstore
				</button>
				<button class="footer__btn btn-reset">
					<img
						loading="lazy"
						src="./img/google_play.svg"
						class="image footer__icon-market"
						width="20"
						height="20"
						alt="Иконка Google Play"
					/>
					Google Play
				</button>
			</div>
		</div>
		<hr class="footer__line footer__line-bigger" />
		<div class="footer__info footer__info-last">
			<ul class="footer__documents list-reset">
				<li class="footer__doc">ООО "Адеск", 2022</li>
				<li class="footer__doc footer__doc-hidden">ИНН 7751182678</li>
				<li class="footer__doc">
					<a href="#" class="footer__document"
						>Политика конфиденциальности</a
					>
				</li>
				<li class="footer__doc">
					<a href="#" class="footer__document">Договор-оферта</a>
				</li>
			</ul>
			<ul class="footer__social list-reset footer__social-bottom">
				<li class="footer__icon-social">
					<a href="#" class="footer__link-social">
						<img
							loading="lazy"
							src="./img/footer-1.svg"
							class="image footer__icon-social"
							width="22"
							height="22"
							alt="Иконка telegramm"
						/>
					</a>
				</li>
				<li class="footer__icon-social">
					<a href="#" class="footer__link-social">
						<img
							loading="lazy"
							src="./img/footer-2.svg"
							class="image footer__icon-social"
							width="22"
							height="22"
							alt="Иконка facebook"
						/>
					</a>
				</li>
				<li class="footer__icon-social">
					<a href="#" class="footer__link-social">
						<img
							loading="lazy"
							src="./img/footer-3.svg"
							class="image footer__icon-social"
							width="22"
							height="22"
							alt="Иконка ВКонтакте"
						/>
					</a>
				</li>
				<li class="footer__icon-social">
					<a href="#" class="footer__link-social">
						<img
							loading="lazy"
							src="./img/footer-4.svg"
							class="image footer__icon-social"
							width="22"
							height="22"
							alt="Иконка Youtube"
						/>
					</a>
				</li>
				<li class="footer__icon-social">
					<a href="#" class="footer__link-social">
						<img
							loading="lazy"
							src="./img/footer-5.svg"
							class="image footer__icon-social"
							width="22"
							height="22"
							alt="Иконка Instagramm"
						/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
