<header class="header">
	<div class="header__container">
		<div class="header__container-inner">
			<picture>
				<source srcset="../img/logo.webp" type="image/webp" />
				<img
					loading="lazy"
					src="../img/logo.png"
					class="image header__logo"
					width="104"
					height="24"
					alt="Логотип"
				/>
			</picture>
			<nav class="nav" title="Навигационная панель">
				<ul class="nav__list list-reset">
					<li class="nav__item">
						<a href="#" class="nav__link">Внедрить под ключ</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Отзывы</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Цены</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Блог</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Помощь</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__container-buttons">
			<button class="btn-reset btn__primary header__btn">Войти</button>
			<button class="btn-reset btn__primary btn__primary-blue">
				Зарегистрироваться
			</button>
		</div>
	</div>
</header>
