<section class="menu">
	<div class="menu__container-btn">
		<button class="btn-reset btn__primary header__btn">Войти</button>
		<button class="btn-reset btn__primary btn__primary-blue menu__btn">
			Зарегистрироваться
		</button>
	</div>
	<nav class="nav menu__nav" title="Навигационная панель">
		<ul class="nav__list list-reset">
			<li class="nav__item">
				<a href="#" class="nav__link">Внедрить под ключ</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Отзывы</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Цены</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Блог</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Помощь</a>
			</li>
		</ul>
	</nav>
</section>
