<section class="start">
	<div class="container start__container">
		<picture class="start__image">
			<source srcset="../img/man.webp" type="image/webp" />
			<img
				loading="lazy"
				src="../img/man.png"
				class="image"
				width="168"
				height="220"
				alt="Изображение мужчины"
			/>
		</picture>
		<div class="start__content">
			<h3 class="start__title">Не можете определиться с тарифом?</h3>
			<p class="start__text">
				Давайте мы проведем бесплатную демонстрацию Adesk, на которой
				расскажем, как устроен сервис, покажем весь функционал и поможем
				выбрать тариф, который наиболее подходит для вашего бизнеса.
			</p>
			<button class="btn-reset btn__primary start__btn">
				Записаться на демо
			</button>
		</div>
	</div>
</section>
