:root {
	// base
	--font-family: "Graphik LCG", sans-serif;
	--content-width: 1140px;
	--container-offset: 30px;
	--container-width: calc(
		var(--content-width) + (var(--container-offset) * 2)
	);

	// colors
	--white-color: #fff;
	--black-color: #2c3038;
	--light-blue-color: #0f8ff9;
	--dark-blue-color: #051534;
	--pink-color: #f0568e;
	--green-color: #00c064;
}
