:root {
	// base
	--font-family: "Graphik LCG", sans-serif;
	--content-width: 1140px;
	--container-offset: 30px;
	--container-offset-mobile: 15px;
	--container-width: calc(
		var(--content-width) + (var(--container-offset) * 2)
	);

	// colors
	--white-color: #fff;
	--black-color: #2c3038;
	--super-light-blue-color: #f0fcff;
	--light-blue-color: #0f8ff9;
	--hover-blue-color: #0072ec;
	--dark-blue-color: #051534;
	--pink-color: #f0568e;
	--light-pink-color: #fff0f7;
	--green-color: #00c064;
	--light-green-color: #eaffee;
	--light-grey-color: #f9f9f9;
	--grey-color: #8394b5;
	--dark-grey-color: #555a64;
}
